{% extends 'dashboard/base.html'%}
{% block title %}
Client Add
{% endblock %}

{%block content %}
<form method="post" action="">
        {% csrf_token %}

    <div class="form-group col-md-5">
        <label for="exampleInputName">Name</label>
        <div id="exampleInputName" name="name">
            {{client.name}}
        </div>
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputAddress">Address</label>
        <div id="exampleInputAddress" name="address">
            {{client.address}}
        </div>
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputMobile">Mobile Number</label>
        <div id="exampleInputMobile" name="mobile">
            {{client.mobile_no}}
        </div>
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputState">State</label>
        <div id="exampleInputState" name="state">
            {{client.state}}
        </div>
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputCity">City</label>
        <div id="exampleInputCity" name="city">
            {{client.city}}
        </div>
    </div>
    <div class="form-group col-md-5">
        <label for="exampleInputPin">Pin No</label>
        <div id="exampleInputPin" name="pin">
            {{client.pin_no}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mx-3">Submit</button>
</form>

{% endblock%}