{% extends 'dashboard/base.html' %}
{% block title %}
Comapany
{% endblock %}

{%block content %}
<form>
    <div class="form-group col-md-5">
        <label for="exampleInputName">Comapny Name</label>
        <input type="text" class="form-control" id="exampleInputName" name="name" aria-describedby="nameHelp"
               placeholder="Enter company name">
    </div>


    <div class="form-group col-md-5">
        <label for="exampleInputWebsite">Website Name</label>
        <input type="text" class="form-control" id="exampleInputWebsite" name="taxper" aria-describedby="nameHelp"
               placeholder="Enter web site name ">
    </div>

     <div class="form-group col-md-5">
        <label for="exampleInputEmai">Email Id</label>
        <input type="email" class="form-control" id="exampleInputEmai" name="email" aria-describedby="nameHelp"
               placeholder="Enter Email Id">
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputGst">GST IN</label>
        <input type="text" class="form-control" id="exampleInputGst" name="state" aria-describedby="nameHelp"
               placeholder="Enter SGST">
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputCin">CIN</label>
        <input type="text" class="form-control" id="exampleInputCin" name="city" aria-describedby="nameHelp"
               placeholder="Enter CGST">
    </div>
    <div class="form-group col-md-5">
        <label for="exampleInputAddress">Address</label>
        <textarea class="form-control" id="exampleInputAddress" name="address" rows="3"></textarea>
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputMobile">Mobile Number</label>
        <input type="text" class="form-control" id="exampleInputMobile" name="mobile" aria-describedby="nameHelp"
               placeholder="Enter mobile no">
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputState">State</label>
        <input type="text" class="form-control" id="exampleInputState" name="state" aria-describedby="nameHelp"
               placeholder="Enter state">
    </div>

    <div class="form-group col-md-5">
        <label for="exampleInputCity">City</label>
        <input type="text" class="form-control" id="exampleInputCity" name="city" aria-describedby="nameHelp"
               placeholder="Enter city">
    </div>
    <div class="form-group col-md-5">
        <label for="exampleInputPin">Pin No</label>
        <input type="text" class="form-control" id="exampleInputPin" name="pin_no" aria-describedby="nameHelp"
               placeholder="Enter pin">
    </div>



    <button type="submit" class="btn btn-primary mx-3">Submit</button>
</form>

{% endblock%}