<tr><th><label for="id_product_name">Product name:</label></th><td><input type="text" name="product_name" value="AA" class="form-control" maxlength="250" id="id_product_name"></td></tr>
<tr><th><label for="id_product_code">Product code:</label></th><td><input type="text" name="product_code" value="11" class="form-control" id="id_product_code"></td></tr>
<tr><th><label for="qty">Qty:</label></th><td><input type="text" name="qty" value="2" class="form-control" id="qty"></td></tr>
<tr><th><label for="unit">Unit price:</label></th><td><input type="text" name="unit_price" value="22" class="form-control" id="unit"></td></tr>
<tr><th><label for="id_tax_per">Tax per:</label></th><td><ul class="errorlist"><li>Select a valid choice. That choice is not one of the available choices.</li></ul><input type="text" name="
tax_per" value="3" class="form-control" id="id_tax_per"></td></tr>
<tr><th><label for="id_amount">Amount:</label></th><td><input type="text" name="amount" value="23" class="form-control" id="id_amount"></td></tr>
<tr><th><label for="id_serial_no">Serial no:</label></th><td><input type="text" name="serial_no" value="234" class="form-control" maxlength="500" id="id_serial_no"></td></tr>
<tr><th><label for="id_sub_total">Sub total:</label></th><td><input type="text" name="sub_total" value="223" class="form-control" id="id_sub_total"></td></tr>
